
.main{
    grid-area: main;
    background-color: blue;

}
.sq1{
    grid-area: sq1;
    background-color: red;
}
.sq2{
    grid-area: sq2;
    background-color: green;
}
.sq3{
    grid-area: sq3;
    background-color: yellow;
}
.sq4{
    grid-area: sq4;
    background-color: black;
}
.empty{
    grid-area: empty;
    background-color: aqua;
}
.empty2{
    grid-area: empty2;
    background-color: aqua;
}
.grid-container{
    display: grid;
    width: 50vw;
    grid-template-areas:
     'main main main main empty empty'
     'main main main main sq1 sq2'
     'main main main main sq3 sq4'
     'main main main main empty2 empty2 ';
     div{
     }

}