.firstPage{
    background: linear-gradient(180deg, rgba(42,71,94,1) 0%, rgba(27,40,56,1) 100%);
}
.headerNavbar {
    background-color: $header-color;
    height: 8vh;
    > img {
        margin-bottom: 2rem;
    }
    .ul-dropdown {
        transition: opacity 0.3s;
        display: flex;
        > li {
            color: $ulHeaderNavbar !important;
            padding: 0.5rem;
            font-family: motiva;
            font-weight: 900;
            position: relative;

            &:hover {
                color: $ulHeaderNavbarShine;
                cursor: pointer;

                .ul2-dropdown {
                    display: flex;
                    animation-name: headermenu;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                    position: absolute;
                    background-color: $ulLiHeaderNavbar;
                    top: 20pt;
                    font-weight: normal;
                    font-size: 0.8rem;
                    width: 7vw;
                    flex-direction: column;
                    border-radius: 1pt;
                    align-items: flex-start;
                    padding-left: 0pt;
                    z-index: 5;
                    overflow: hidden;
                }
            }
        }
        .ul2-dropdown {
            display: none;
            > li {
                padding: 0.5rem;
                padding-right: 20rem;
                width: max-content;

                &:hover {
                    background-color: white;
                    color: black;
                    transition: 0.1s all;
                }
            }
        }
    }
}
.upHeader {
    background-color: $header-color;
    button {
        background-color: green;
        font-size: 0.8rem;
        &:hover {
            background-color: greenyellow;
        }
    }
}
.mainDiv {
    display: flex;
}
.sideBar {
    // background-color: blue;
    height: 100vh;
    width: 30rem;
}
.emptyBar {
    // background-color: blue;
    height: 100vh;
    width: 30rem;
    flex-shrink: 2;
}
.middlePage {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 60rem;
    flex-shrink: 0;
    position: relative;
    .middleNavBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2rem;
        height: 4vh;
        position: relative;
        background-image: linear-gradient(to right, #3b6490, #2e6096, #0f216e);
        .ulMiddleNavBar {
            display: flex;
            flex-direction: row;
            padding-left: 0pt;
            height: 4vh;
            align-items: center;
            width: 70%;
            > div {
                color: white;
                font-weight: bold;
                font-size: 0.8rem;
                text-shadow: 1pt 1pt rgb(93, 93, 93);
                position: relative;
                padding: 0.8rem;
                flex-shrink: 0;
                &:hover {
                    cursor: pointer;
                    background-image: linear-gradient(to right, #307fbf, transparent);

                }
                .dropdownMiddleNavBar {
                    display: none;
                }
                .dropdownMiddleNavBar2 {
                    display: none;
                }
                .dropdownMiddleNavBar3{
                    display: none;
                }
            }
            > div:nth-child(1):hover {
                .dropdownMiddleNavBar {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 26pt;
                    left: 0pt;
                    background-image: $dropdownHeaderNavbar;
                    animation-name: topbardropdown;
                    animation-duration: 0.8s;
                    animation-fill-mode: forwards;
                    width: 13rem;
                    box-shadow: -1px -1px 15px 1px black;
                    cursor: initial;
                    li { 
                        font-size: 0.8rem;
                        color: $lightWhiteHeaderNavbar;
                        font-weight: bold;
                        padding: 0.6rem;
                        display: inline-block;
                        &:hover{
                            text-decoration: underline;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
            }
            div:nth-child(2):hover {
                .dropdownMiddleNavBar2 {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 29pt;
                    left: 0pt;
                    background-image: $dropdownHeaderNavbar;
                    animation-name: topbardropdown;
                    animation-duration: 0.8s;
                    animation-fill-mode: forwards;
                    width: 260pt;
                    height: 170pt;
                    box-shadow: -1px -1px 15px 1px black;
                    flex-wrap: wrap;
                    cursor: initial;

                    li {
                        padding: 4pt;
                        display: inline-block;
                        font-size: 0.7rem;
                        color: $lightWhiteHeaderNavbar;
                        font-weight: bold;
                        margin-left: 3pt;
                    }

                    div:nth-child(1) li,
                    div:nth-child(7) li,
                    div:nth-child(10) li {
                        color: $topbarlblue !important;
                        font-size: 0.8rem;
                        cursor: default;
                        padding: 6pt;
                        padding-left: 4pt;
                        text-decoration: initial !important;
                    }

                    div:nth-child(4),
                    div:nth-child(13) {
                        width: 80pt;
                        height: 0.1pt;
                        border-top: 1pt solid white;
                        opacity: 0.5;
                        margin-left: 3pt;
                    }

                    div:nth-child(9) {
                        width: 1pt;
                        height: 150pt;
                        border-left: 1pt solid black;
                        margin-top: 3pt;
                    }

                    div:nth-child(3) li,
                    div:nth-child(12) li {
                        margin-bottom: 3pt;
                    }

                    div:nth-child(5) li,
                    div:nth-child(14) li {
                        margin-top: 3pt;
                    }

                    li:hover {
                        text-decoration: underline;
                        color: white;
                        cursor: pointer;
                    }
                }
            }
            div:nth-child(3):hover {
                .dropdownMiddleNavBar3 {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 29pt;
                    left: -210pt;
                    background-image: $dropdownHeaderNavbar;
                    animation-name: topbardropdown;
                    animation-duration: 0.8s;
                    animation-fill-mode: forwards;
                    width: 50vw;
                    height: 370pt;
                    box-shadow: -1px -1px 15px 1px black;
                    flex-wrap: wrap;
                    cursor: initial;

                    li {
                        padding: 4pt;
                        display: inline-block;
                        font-size: 0.7rem;
                        color: $lightWhiteHeaderNavbar;
                        font-weight: bold;
                        margin-left: 3pt;
                        &:hover {
                            text-decoration: underline;
                            color: white;
                            cursor: pointer;
                        }
                    }
                    .blueDropDown{
                        color: $topbarlblue !important;
                        font-size: 0.7rem;
                        cursor: initial !important;
                        padding: 6pt;
                        padding-left: 4pt;
                        text-decoration: initial !important;
                    }
                    .whiteLineDropDown{
                        width: 80pt;
                        height: 0.1pt;
                        border-top: 1pt solid white;
                        opacity: 0.5;
                        margin: 2pt 0pt 2pt 3pt;
                    }
                    .blackLineDropDown {
                        width: 1pt;
                        height: 350pt;
                        border-left: 1pt solid black;
                        margin-top: 3pt;
                    }
                    .emptyDropDown{
                        padding: 4pt;

                    }
                    .firstItemDropDown{
                        margin-top: 23pt;
                    }
                }
            }
        }
        .input-group {
            margin-right: 6pt;
            width: 150pt;
            position: absolute;
            right: 0pt;
            > input {
                background-color: #316282 !important;
                &:hover {
                    border-color: #307fbf;
                }
            }
        }
    }
    .carouselClass{
        display: grid !important;
        width: 100% !important;
        height: 350pt !important;
        background-color: #0B151E;
        grid-template-areas:
        'main main main main texttop texttop'
        'main main main main sq1 sq2'
        'main main main main sq3 sq4'
        'main main main main textbottom textbottom ';
        gap: 5px;

        .carouselMain{
            grid-area: main;
            box-shadow: 10px 10px 2px;
        }
        .carouselTextTop{
            grid-area: texttop;
        }
        .carouselSq1{
            grid-area: sq1;
            opacity: 0.6;
            &:hover{
                opacity: 1;
            }
        }
        .carouselSq2{
            grid-area: sq2;
            opacity: 0.6;
            &:hover{
                opacity: 1;
            }
        }
        .carouselSq3{
            grid-area: sq3;
            opacity: 0.6;
            &:hover{
                opacity: 1;
            }
        }
        .carouselSq4{
            grid-area: sq4;
            opacity: 0.6;
            &:hover{
                opacity: 1;
            }
        }
        .carouselTextBottom{
            grid-area: textbottom;
        }
        .topSeller{
            font-size: 0.7rem;
            padding: 2pt;
        }
        .offPrice{
            background-color:$offBackground;
            color: $offTextColor;
            padding: 0.5pt;
        }
        sup{
            font-size: 1rem;
        }
    }
    .prevBtnCarsoul{
        position: absolute !important;
        top: 180pt !important;
        left: -30pt !important;
        background-color: BLUE;
        height: 80PT;
        width: 30pt;
        background-image: linear-gradient(to right,#141E2A,#212F41);
        &:hover{
            background-image: linear-gradient(to right,#465D71,#0F1720);
        }
    }
    .nextBtnCarsoul{
        position: absolute !important;
        top: 180pt !important;
        right: -30pt !important;
        background-color: BLUE;
        height: 80PT;
        width: 30pt;
        background-image: linear-gradient(to right,#141E2A,#212F41);
        &:hover{
            background-image: linear-gradient(to right,#465D71,#0F1720);
        }
    }
    .carsoulIndicator{
        position: absolute !important;
        top: 350pt !important;
        button{
            width: 12pt;
            height: 6pt;
            border-radius: 4pt;
        }
    }
    .infCardCrousel{
        background-color: white;
        width: 220pt;
        height: 250pt;
        top: 120pt;
        left: 720pt;
        font-size: 0.9rem;
        display: none;
        .carousel-item{
            img{
                height: 100pt;
                display: none;
            }       
        }
        span:nth-child(2){
            font-size: 0.8rem;
        }
        span:nth-child(5){
            color: #59b4ff !important;
        }
    }
}
