.headerNavbar {
    background-color: $header-color;
    height: 60pt;
    > img {
        margin-bottom: 15pt;
    }
    .ul-dropdown {
        transition: opacity 0.3s;
        display: flex;
        > li {
            color: $ulHeaderNavbar !important;
            padding: 5pt;
            font-family: motiva;
            font-weight: 900;
            position: relative;

            &:hover {
                color: $ulHeaderNavbarShine;
                cursor: pointer;

                .ul2-dropdown {
                    display: flex;
                    animation-name: headermenu;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                    position: absolute;
                    background-color: $ulLiHeaderNavbar;
                    top: 20pt;
                    font-weight: normal;
                    font-size: 10pt;
                    width: 110pt;
                    flex-direction: column;
                    border-radius: 1pt;
                    align-items: flex-start;
                    padding-left: 0pt;
                    z-index: 5;
                    overflow: hidden;
                }
            }
        }
        .ul2-dropdown {
            display: none;
            > li {
                padding: 5pt;
                padding-right: 80pt;
                width: max-content;

                &:hover {
                    background-color: white;
                    color: black;
                    transition: 0.1s all;
                }
            }
        }
    }
}
.upHeader {
    background-color: $header-color;
    button {
        background-color: green;
        font-size: 10pt;
        &:hover {
            background-color: greenyellow;
        }
    }
}
.sideBar {
    background-color: blue;
    height: 100vh;
}
.mainDiv {
    display: flex;
}
.emptyBar {
    background-color: blue;
    height: 100vh;
}
.middlePage {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 1;
    .middleNavBar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 20pt;
        height: 30pt;
        position: relative;
        background-image: linear-gradient(to right, #3b6490, #2e6096, #0f216e);
        .ulMiddleNavBar {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding-left: 0pt;
            background-color: yellow;
            > li {
                color: white;
                flex-grow: 4;
                font-weight: bold;
                font-size: 10pt;
                text-shadow: 1pt 1pt rgb(93, 93, 93);
                position: relative;

                &:hover {
                    cursor: pointer;
                    background-image: linear-gradient(to right, #307fbf, transparent);

                }
                .dropdownMiddleNavBar {
                    display: none;
                }
            }
            > li:nth-child(1):hover {
                .dropdownMiddleNavBar {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 29pt;
                    left: 0pt;
                    background-image: $dropdownHeaderNavbar;
                    animation-name: topbardropdown;
                    animation-duration: 0.8s;
                    animation-fill-mode: forwards;
                    width: 150pt;
                    box-shadow: -1px -1px 15px 1px black;
                    cursor: initial;
                    li {
                        
                        display: inline-block;
                        font-size: 9pt;
                        color: $lightWhiteHeaderNavbar;
                        font-weight: bold;
                        padding-left: 0;
                    }
                    li:hover {
                        text-decoration: underline;
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }
        .input-group {
            margin-right: 6pt;
            width: 150pt;
            position: absolute;
            right: 0pt;
            > input {
                background-color: #316282 !important;
                &:hover {
                    border-color: #307fbf;
                }
            }
        }
    }
}
