@media only screen and (max-width: 992px) {
    .upHeader{
        display: none;
    }
    .headerNavbar{
        position:fixed !important;
        top: 0 !important;
        z-index: 2;
        ul{
            display: none !important;
        }
        i{
            cursor: pointer;
        }
        img{
            margin-top: 25pt;
            width:100pt;
        }
        .headerNavbarColRespansive{
            display: initial !important;
        }
    }
    .headerNavbarRespansive{
        display: block ;
        position: absolute;
        left: -350px;
    }
    .middleNavBar,.carousel,.carouselButtons,.infCardCrousel{
        display: none !important;
    }
    .middleNavbarRespansive{
        display: block !important;
        
    }
    .swiper{
        display: block !important;
    }
    .sideBar{
        display: none !important;
    }

}


@media only screen and (max-width: 1620px) {
    .infCardCrousel{
        left: -220pt !important;
    }
}


@media only screen and (max-width: 1200px) {
    .sideBar{
        flex-shrink: 2 !important;
    }
}
